<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="modularity" type="Modularity.ModularitySection, Modularity"/>
    </configSections>
    <modularity xmlns="urn:Modularity">
        <customModules>
            <add type="Modularity.Test.ModuleStub, Modularity.Test"/>
        </customModules>
    </modularity>
</configuration>